Repository celestiaorg/celestia-app, pull requests merged in 2022-04, with the labels that each got.

#273 Fix the ci linter
  .github/workflows/lint.yml
  go.mod
  go.sum
Labels: github_actions

#282 go get -> go install
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  .gitignore
  Makefile
  contrib/devtools/Makefile
Labels: github_actions

#281 Remove pending changelog checker.
  .github/workflows/pending-changelog-checker.yml
  CHANGELOG-PENDING.md
Labels: github_actions

#290 chore: bump SDK & tendermint versions
  go.mod
  go.sum
Labels: dependencies

#299 bump SDK
  go.mod
  go.sum
Labels: dependencies

#300 improve error handling
  x/payment/types/errors.go
  x/payment/types/payformessage_test.go
  x/payment/types/wirepayformessage.go
  x/payment/types/wirepayformessage_test.go
Labels: bug, C: Celestia app

#314 Adds Ethereum signatures verification + refactor the orchestrator/relayer for testing
  contrib/single-node.sh
  go.sum
  x/qgb/abci.go
  x/qgb/handler_test.go
  x/qgb/keeper/msg_server.go
  x/qgb/keeper/test_common.go
  x/qgb/module.go
  x/qgb/orchestrator/app_client.go
  x/qgb/orchestrator/common_test.go
  x/qgb/orchestrator/config.go
  x/qgb/orchestrator/deploy_command.go
  x/qgb/orchestrator/evm_client.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/orchestrator_command.go
  x/qgb/orchestrator/orchestrator_test.go
  x/qgb/orchestrator/relayer_command.go
  x/qgb/orchestrator/test_utils.go
  x/qgb/types/abi_consts.go
  x/qgb/types/codec.go
  x/qgb/types/ethereum_signer.go
  x/qgb/types/events.go
  x/qgb/types/keys.go
  x/qgb/types/valsetconfirm.go
Labels: C: QGB

#341 temporary fix for proto-gen
  Makefile
Labels: bug, C: Celestia app, C: QGB

#342 Add valset request by nonce support for QGB
  proto/qgb/query.proto
  x/qgb/keeper/query_valset.go
  x/qgb/keeper/query_valset_confirm.go
  x/qgb/types/query.pb.go
  x/qgb/types/query.pb.gw.go
  x/qgb/types/validator.go
Labels: C: QGB

#271 change PayForMessage to PayForData
  app/abci.go
  app/test/abci_test.go
  docs/architecture/ADR-001-ABCI++.md
  proto/payment/tx.proto
  readme.md
  x/payment/client/cli/tx.go
  x/payment/client/cli/wirepayfordata.go
  x/payment/client/testutil/integration_test.go
  x/payment/handler.go
  x/payment/keeper/keeper.go
  x/payment/spec/docs.md
  x/payment/types/builder_test.go
  x/payment/types/codec.go
  x/payment/types/events.go
  x/payment/types/payfordata.go
  x/payment/types/payfordata_test.go
  x/payment/types/tx.pb.go
  x/payment/types/tx.pb.gw.go
  x/payment/types/wirepayfordata.go
  x/payment/types/wirepayfordata_test.go
Labels: C: Celestia app

#344 Replay mechanism for QGB relayer
  go.sum
  x/qgb/orchestrator/app_client.go
  x/qgb/orchestrator/broadcaster.go
  x/qgb/orchestrator/common_test.go
  x/qgb/orchestrator/deploy_command.go
  x/qgb/orchestrator/evm_client.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/orchestrator_client.go
  x/qgb/orchestrator/orchestrator_command.go
  x/qgb/orchestrator/querier.go
  x/qgb/orchestrator/relayer.go
  x/qgb/orchestrator/relayer_client.go
  x/qgb/orchestrator/relayer_command.go
Labels: C: QGB

#355 adds NewRelayer method to QGB
  x/qgb/orchestrator/relayer.go
  x/qgb/orchestrator/relayer_command.go
Labels: C: QGB

#359 Data commitment indexing key update
  proto/qgb/query.proto
  x/qgb/handler_test.go
  x/qgb/keeper/keeper_data_commitment.go
  x/qgb/keeper/msg_server.go
  x/qgb/keeper/query_data_commitment.go
  x/qgb/keeper/query_data_commitment_test.go
  x/qgb/types/keys.go
  x/qgb/types/query.pb.go
  x/qgb/types/query.pb.gw.go
Labels: C: QGB

#367 adds query data confirm by exact range
  proto/qgb/query.proto
  x/qgb/keeper/keeper_data_commitment.go
  x/qgb/keeper/query_data_commitment.go
  x/qgb/types/query.pb.go
  x/qgb/types/query.pb.gw.go
Labels: C: QGB

#365 adds last valset request before height query
  proto/qgb/query.proto
  x/qgb/keeper/query_valset.go
  x/qgb/types/query.pb.go
  x/qgb/types/query.pb.gw.go
Labels: C: QGB

#371 change left over pfm to pfd
  app/abci.go
  docs/architecture/ADR-001-ABCI++.md
  x/payment/client/cli/wirepayfordata.go
  x/payment/spec/docs.md
  x/payment/types/payfordata_test.go
  x/payment/types/wirepayfordata.go
  x/payment/types/wirepayfordata_test.go
Labels: typo

#372 Relayer query right valset for confirmations
  x/qgb/orchestrator/evm_client.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/orchestrator_client.go
  x/qgb/orchestrator/querier.go
  x/qgb/orchestrator/relayer.go
  x/qgb/orchestrator/relayer_client.go
Labels: C: QGB
