Repository celestiaorg/celestia-app, pull requests merged in 2022-07, with the labels that each got.

#439 Fix goreleaser job
  .github/workflows/tag.yml
Labels: C: Celestia app

#512 Orchestrator refactor
  e2e/qgb/qgb_network.go
  x/qgb/abci.go
  x/qgb/orchestrator/app_client.go
  x/qgb/orchestrator/broadcaster.go
  x/qgb/orchestrator/common_test.go
  x/qgb/orchestrator/errors.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/orchestrator_client.go
  x/qgb/orchestrator/orchestrator_command.go
  x/qgb/orchestrator/orchestrator_test.go
  x/qgb/orchestrator/querier.go
  x/qgb/orchestrator/test/common_test.go
  x/qgb/orchestrator/test/contract_interaction_test.go
  x/qgb/orchestrator/test/encode_test.go
  x/qgb/orchestrator/test/mock_broadcaster.go
  x/qgb/orchestrator/test/mock_querier.go
  x/qgb/orchestrator/test/mock_retrier.go
  x/qgb/orchestrator/test/orchestrator_test.go
  x/qgb/orchestrator/test/test_utils.go
  x/qgb/orchestrator/test_utils.go
Labels: C: QGB

#519 Go fumpt the qgb-integration branch
  app/app.go
  app/export.go
  app/test/process_proposal_test.go
  e2e/qgb/deployer_test.go
  e2e/qgb/full_test.go
  e2e/qgb/orchestrator_test.go
  e2e/qgb/qgb_network.go
  e2e/qgb/relayer_test.go
  e2e/qgb/test_commons.go
  testutil/test_app.go
  x/payment/client/cli/tx.go
  x/payment/payfordata.go
  x/payment/types/codec.go
  x/payment/types/events.go
  x/payment/types/payfordata_test.go
  x/payment/types/wirepayfordata.go
  x/qgb/abci_test.go
  x/qgb/client/main/main.go
  x/qgb/handler_test.go
  x/qgb/keeper/hooks.go
  x/qgb/keeper/keeper_data_commitment_confirm.go
  x/qgb/keeper/keeper_test.go
  x/qgb/keeper/keeper_valset.go
  x/qgb/keeper/keeper_valset_test.go
  x/qgb/keeper/msg_server.go
  x/qgb/keeper/query_attestation.go
  x/qgb/keeper/query_data_commitment_confirm_test.go
  x/qgb/keeper/query_general.go
  x/qgb/keeper/query_valset.go
  x/qgb/keeper/query_valset_confirm.go
  x/qgb/keeper/query_valset_confirm_test.go
  x/qgb/keeper/test_common.go
  x/qgb/orchestrator/config.go
  x/qgb/orchestrator/evm_client.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/orchestrator_command.go
  x/qgb/orchestrator/querier.go
  x/qgb/orchestrator/relayer.go
  x/qgb/orchestrator/relayer_command.go
  x/qgb/orchestrator/test/common_test.go
  x/qgb/orchestrator/test/encode_test.go
  x/qgb/orchestrator/test/mock_broadcaster.go
  x/qgb/orchestrator/test/mock_querier.go
  x/qgb/orchestrator/test/mock_retrier.go
  x/qgb/orchestrator/test/orchestrator_test.go
  x/qgb/orchestrator/test/test_utils.go
  x/qgb/types/abi_consts.go
  x/qgb/types/data_commitment_confirm.go
  x/qgb/types/data_commitment_confirm_test.go
  x/qgb/types/ethereum_signer.go
  x/qgb/types/ethereum_signer_test.go
  x/qgb/types/genesis.go
  x/qgb/types/genesis_test.go
  x/qgb/types/keys.go
  x/qgb/types/types_test.go
  x/qgb/types/validator.go
  x/qgb/types/valset.go
Labels: C: QGB

#542 chore: manual backport master v0.6.x
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/mergify.yml
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
  app/prepare_proposal.go
  app/split_shares.go
  app/test/block_size_test.go
  cmd/celestia-appd/cmd/root.go
  cmd/celestia-appd/main.go
  docs/architecture/ADR-001-ABCI++.md
  go.mod
  go.sum
  testutil/network/network.go
  testutil/test_app.go
  x/payment/payfordata.go
  x/payment/types/builder_options.go
  x/payment/types/payfordata.go
  x/payment/types/payfordata_test.go
  x/payment/types/verify_sigs.go
  x/payment/types/wirepayfordata.go
Labels: C: Celestia app

#524 QGB Verify the sent data commitment confirm is a data commitment attestation request
  x/qgb/handler_test.go
  x/qgb/keeper/msg_server.go
  x/qgb/types/errors.go
Labels: C: QGB

#526 QGB CLI takes time to execute
  e2e/qgb/celestia-app/config.toml
  e2e/qgb/orchestrator_test.go
  e2e/qgb/relayer_test.go
  e2e/qgb/scripts/deploy_qgb_contract.sh
  testutil/common.go
  x/qgb/abci_test.go
  x/qgb/handler_test.go
  x/qgb/keeper/keeper_attestation.go
  x/qgb/keeper/keeper_valset_test.go
  x/qgb/keeper/query_data_commitment_confirm_test.go
  x/qgb/keeper/query_valset_confirm_test.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/querier.go
Labels: C: QGB

#527 QGB remove unnecessary keystore
  e2e/qgb/relayer_test.go
  x/qgb/keeper/keystore/keycache.go
  x/qgb/keeper/keystore/keystore.go
  x/qgb/orchestrator/test/contract_interaction_test.go
  x/qgb/orchestrator/test/encode_test.go
Labels: C: QGB

#528 QGB Use Geth implementation of Ethereum address
  go.mod
  go.sum
  testutil/common.go
  x/qgb/abci_test.go
  x/qgb/handler_test.go
  x/qgb/keeper/keeper.go
  x/qgb/keeper/msg_server.go
  x/qgb/keeper/query_data_commitment_confirm_test.go
  x/qgb/keeper/query_valset_confirm_test.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/test/test_utils.go
  x/qgb/types/data_commitment_confirm.go
  x/qgb/types/data_commitment_confirm_test.go
  x/qgb/types/ethereum_signer.go
  x/qgb/types/ethereum_signer_test.go
  x/qgb/types/keys.go
  x/qgb/types/validator.go
  x/qgb/types/valset_confirm.go
Labels: C: QGB

#529 QGB better genesis initialization
  e2e/qgb/celestia-app/config.toml
  e2e/qgb/celestia-app/genesis.json
  e2e/qgb/orchestrator_test.go
  e2e/qgb/qgb_network.go
  e2e/qgb/relayer_test.go
  testutil/common.go
  x/qgb/abci.go
  x/qgb/genesis.go
  x/qgb/keeper/keeper_attestation.go
  x/qgb/keeper/keeper_data_commitment.go
  x/qgb/keeper/query_general.go
  x/qgb/keeper/query_valset_confirm.go
  x/qgb/types/abi_consts.go
  x/qgb/types/errors.go
  x/qgb/types/genesis.go
  x/qgb/types/genesis_test.go
Labels: C: QGB

#550 QGB State machine error handling
  e2e/qgb/orchestrator_test.go
  e2e/qgb/qgb_network.go
  proto/qgb/query.proto
  x/qgb/abci_test.go
  x/qgb/handler_test.go
  x/qgb/keeper/keeper.go
  x/qgb/keeper/keeper_attestation.go
  x/qgb/keeper/keeper_data_commitment_confirm.go
  x/qgb/keeper/keeper_valset.go
  x/qgb/keeper/keeper_valset_confirm.go
  x/qgb/keeper/msg_server.go
  x/qgb/keeper/query_attestation.go
  x/qgb/keeper/query_data_commitment_confirm.go
  x/qgb/keeper/query_data_commitment_confirm_test.go
  x/qgb/keeper/query_valset_confirm.go
  x/qgb/keeper/query_valset_confirm_test.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/querier.go
  x/qgb/orchestrator/relayer.go
  x/qgb/orchestrator/test/mock_querier.go
  x/qgb/types/errors.go
  x/qgb/types/query.pb.go
Labels: C: QGB

#554 temporary fix for any import in query.pb.go
  scripts/protocgen.sh
Labels: enhancement, C: QGB

#559 QGB Remove unnecessary comment
  x/qgb/orchestrator/querier.go
Labels: C: QGB

#558 QGB handle nonce 1 case
  x/qgb/keeper/msg_server.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/querier.go
Labels: C: QGB

#556 adds more configuration flags
  e2e/qgb/deployer_test.go
  e2e/qgb/docker-compose.yml
  e2e/qgb/full_test.go
  e2e/qgb/relayer_test.go
  e2e/qgb/scripts/deploy_qgb_contract.sh
  e2e/qgb/scripts/start_relayer.sh
  x/qgb/orchestrator/config.go
  x/qgb/orchestrator/deploy_command.go
  x/qgb/orchestrator/evm_client.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/orchestrator_command.go
  x/qgb/orchestrator/relayer.go
  x/qgb/orchestrator/relayer_command.go
Labels: C: QGB

#562 QGB better e2e context and channel usage
  e2e/qgb/deployer_test.go
  e2e/qgb/errors.go
  e2e/qgb/full_test.go
  e2e/qgb/orchestrator_test.go
  e2e/qgb/qgb_network.go
  e2e/qgb/relayer_test.go
  e2e/qgb/test_commons.go
Labels: enhancement, C: QGB

#569 fix: warning in golangci config
  .github/workflows/lint.yml
Labels: github_actions, CI

#567 ci: enable gofumpt
  .golangci.yml
  app/app.go
  app/export.go
  app/test/block_size_test.go
  app/test/process_proposal_test.go
  testutil/test_app.go
  x/payment/client/cli/tx.go
  x/payment/client/testutil/integration_test.go
  x/payment/types/builder_test.go
  x/payment/types/codec.go
  x/payment/types/events.go
  x/payment/types/genesis.go
  x/payment/types/payfordata_test.go
  x/payment/types/verify_sigs.go
  x/qgb/types/genesis.go
Labels: github_actions, CI

#566 Replace microceles with microtia
  app/app.go
  app/module.go
Labels: T: chore

#565 README badges
  readme.md
Labels: T: chore

#561 ci: check protobuf generated code
  .github/workflows/proto.yml
Labels: github_actions, CI

#573 chore: update to go 1.18
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
  Dockerfile
  Makefile
  contrib/Dockerfile.test
  docker/Dockerfile_ephemeral
  go.mod
Labels: dependencies

#570 Throw errors if messages try to use `ParitySharesNamespaceID` or `TailPaddingNamespaceID`
  x/payment/types/errors.go
  x/payment/types/payfordata.go
  x/payment/types/payfordata_test.go
  x/payment/types/wirepayfordata.go
  x/payment/types/wirepayfordata_test.go
Labels: T: chore

#575 remove unnecessary code
  proto/qgb/query.proto
  x/qgb/keeper/keeper_data_commitment_confirm.go
  x/qgb/keeper/query_data_commitment_confirm.go
  x/qgb/keeper/query_data_commitment_confirm_test.go
  x/qgb/orchestrator/querier.go
  x/qgb/types/keys.go
  x/qgb/types/query.pb.go
  x/qgb/types/query.pb.gw.go
Labels: C: QGB

#578 ci: enable misspell linter
  .golangci.yml
  app/split_shares.go
  x/payment/types/builder.go
  x/payment/types/events.go
  x/payment/types/payfordata.go
Labels: CI

#582 fix: use build flags when running make build
  Makefile
Labels: bug

#576 general QGB cosmetics
  x/qgb/abci.go
  x/qgb/handler.go
  x/qgb/keeper/keeper_valset_test.go
  x/qgb/keeper/query_general.go
  x/qgb/keeper/query_valset_confirm.go
  x/qgb/module.go
  x/qgb/orchestrator/config.go
  x/qgb/orchestrator/deploy_command.go
  x/qgb/orchestrator/evm_transaction_opts.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/querier.go
  x/qgb/types/abi_consts.go
  x/qgb/types/data_commitment.go
  x/qgb/types/data_commitment_confirm.go
  x/qgb/types/ethereum_signer.go
  x/qgb/types/keys.go
  x/qgb/types/types.go
  x/qgb/types/validator.go
  x/qgb/types/valset.go
  x/qgb/types/valset_confirm.go
Labels: C: QGB

#580 ci: enable revive
  .golangci.yml
  app/app.go
  app/encoding/encoding.go
  app/test/block_size_test.go
  app/test/prepare_proposal_test.go
  app/test/process_proposal_test.go
  app/test/split_shares_test.go
  cmd/celestia-appd/cmd/root.go
  testutil/network/network.go
  testutil/test_app.go
  x/payment/types/builder.go
  x/payment/types/codec.go
  x/payment/types/payfordata.go
Labels: CI

#579 chore: rename master to main
  .github/PULL_REQUEST_TEMPLATE.md
  .github/mergify.yml
  .github/workflows/docker-build.yml
  .github/workflows/lint.yml
  .github/workflows/sims.yml
  .github/workflows/test.yml
  readme.md
Labels: T: chore
