Repository celestiaorg/celestia-app, pull requests merged in 2022-06, with the labels that each got.

#464 Add ADR-004-QGB_relayer_security
  docs/architecture/ADR-004-QGB_relayer_security.md
Labels: documentation, C: QGB

#476 small rewording for the QGB relayer security ADR
  docs/architecture/ADR-004-QGB_relayer_security.md
Labels: C: QGB

#459 better context handling + timeouts for QGB E2E network
  e2e/qgb/Makefile
  e2e/qgb/deployer_test.go
  e2e/qgb/full_test.go
  e2e/qgb/orchestrator_test.go
  e2e/qgb/qgb_network.go
  e2e/qgb/relayer_test.go
Labels: C: QGB

#478 Adds data commitment request
  go.mod
  proto/qgb/query.proto
  proto/qgb/types.proto
  x/qgb/abci.go
  x/qgb/keeper/keeper_data_commitment.go
  x/qgb/keeper/keeper_data_commitment_confirm.go
  x/qgb/keeper/keeper_valset.go
  x/qgb/keeper/query_data_commitment.go
  x/qgb/keeper/query_data_commitment_confirm.go
  x/qgb/keeper/query_data_commitment_confirm_test.go
  x/qgb/keeper/query_valset.go
  x/qgb/keeper/query_valset_confirm_test.go
  x/qgb/orchestrator/app_client.go
  x/qgb/orchestrator/orchestrator.go
  x/qgb/orchestrator/orchestrator_client.go
  x/qgb/orchestrator/querier.go
  x/qgb/orchestrator/relayer.go
  x/qgb/orchestrator/relayer_client.go
  x/qgb/orchestrator/test_utils.go
  x/qgb/types/data_commitment.go
  x/qgb/types/data_commitment_confirm.go
  x/qgb/types/data_commitment_confirm_test.go
  x/qgb/types/events.go
  x/qgb/types/keys.go
  x/qgb/types/query.pb.go
  x/qgb/types/query.pb.gw.go
  x/qgb/types/types.pb.go
  x/qgb/types/valset_confirm.go
Labels: C: QGB

#481 Fixes set latest data commitment nonce
  x/qgb/keeper/keeper_data_commitment.go
Labels: C: QGB

#494 Add mergify rules
  .github/mergify.yml
Labels: CI

#488 fix: Patch all PFD signature bugs
  app/prepare_proposal.go
  app/split_shares.go
  app/test/block_size_test.go
  testutil/network/network.go
  testutil/test_app.go
  x/payment/payfordata.go
  x/payment/types/builder_options.go
  x/payment/types/payfordata.go
  x/payment/types/payfordata_test.go
  x/payment/types/verify_sigs.go
  x/payment/types/wirepayfordata.go
Labels: C: Celestia app, S:backport-to-v0.5.x, S:backport-to-v0.6.x

#508 update the evm client to wait for transactions to be included
  e2e/qgb/deployer_test.go
  e2e/qgb/full_test.go
  e2e/qgb/relayer_test.go
  e2e/qgb/scripts/deploy_qgb_contract.sh
  x/qgb/orchestrator/deploy_command.go
  x/qgb/orchestrator/evm_client.go
  x/qgb/orchestrator/relayer.go
  x/qgb/orchestrator/relayer_command.go
Labels: C: QGB
