Repository celestiaorg/celestia-app, pull requests merged in 2022-05, with the labels that each got.

#380 Deduct fees for PayForData transactions
  app/app.go
  x/payment/keeper/gas_test.go
  x/payment/keeper/keeper.go
Labels: C: Celestia app

#392 Update the QGB integration branch to have the latest master
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/workflows/docker-build.yml
  .github/workflows/linkchecker.yml
  .github/workflows/pending-changelog-checker.yml
  .github/workflows/proto.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/stale.yml
  .github/workflows/tag.yml
  .github/workflows/test.yml
  .gitignore
  CHANGELOG-PENDING.md
  Makefile
  app/app.go
  app/prepare_proposal.go
  app/process_proposal.go
  app/test/prepare_proposal_test.go
  app/test/process_proposal_test.go
  contrib/devtools/Makefile
  docs/architecture/ADR-001-ABCI++.md
  docs/architecture/adr-template.md
  go.mod
  go.sum
  proto/payment/tx.proto
  readme.md
  x/payment/client/cli/tx.go
  x/payment/client/cli/wirepayfordata.go
  x/payment/client/testutil/integration_test.go
  x/payment/handler.go
  x/payment/keeper/gas_test.go
  x/payment/keeper/keeper.go
  x/payment/payfordata.go
  x/payment/spec/docs.md
  x/payment/types/builder_test.go
  x/payment/types/codec.go
  x/payment/types/errors.go
  x/payment/types/events.go
  x/payment/types/payfordata.go
  x/payment/types/payfordata_test.go
  x/payment/types/tx.pb.go
  x/payment/types/tx.pb.gw.go
  x/payment/types/wirepayfordata.go
  x/payment/types/wirepayfordata_test.go
  x/qgb/keeper/test_common.go
Labels: C: QGB

#393 Use eth address from cosmos sdk in QGB
  x/qgb/keeper/msg_server.go
  x/qgb/keeper/query_data_commitment_test.go
  x/qgb/keeper/query_valset_confirm_test.go
  x/qgb/orchestrator/test_utils.go
  x/qgb/types/datacommitmentconfirm.go
  x/qgb/types/datacommitmentconfirm_test.go
  x/qgb/types/ethereum.go
  x/qgb/types/ethereum_signer.go
  x/qgb/types/ethereum_signer_test.go
  x/qgb/types/keys.go
  x/qgb/types/validator.go
  x/qgb/types/valsetconfirm.go
Labels: C: QGB

#402 better structure QGB CLI flags
  x/qgb/orchestrator/config.go
  x/qgb/orchestrator/deploy_command.go
  x/qgb/orchestrator/orchestrator_client.go
  x/qgb/orchestrator/orchestrator_command.go
  x/qgb/orchestrator/relayer_client.go
  x/qgb/orchestrator/relayer_command.go
Labels: C: QGB

#404 Fix qgb deploy command valset query
  x/qgb/orchestrator/deploy_command.go
Labels: C: QGB

#224 refactor prepare proposal to efficiently fill the square
  app/prepare_proposal.go
  app/process_proposal.go
  app/split_shares.go
  app/test/prepare_proposal_test.go
  app/test/process_proposal_test.go
  app/test/split_shares_test.go
  cmd/celestia-appd/main.go
  docs/architecture/ADR-001-ABCI++.md
  go.mod
  go.sum
  x/payment/client/testutil/integration_test.go
  x/payment/spec/docs.md
  x/payment/types/payfordata.go
  x/payment/types/payfordata_test.go
  x/payment/types/wirepayfordata.go
Labels: C: Celestia app, ABCI

#399 Upgrade to tendermint v0.35.4 and cosmos-sdk v0.46.0
  Makefile
  app/app.go
  app/encoding/encoding.go
  app/export.go
  app/test/prepare_proposal_test.go
  app/test/process_proposal_test.go
  app/test/split_shares_test.go
  cmd/celestia-appd/main.go
  cmd/celestia-appd/root.go
  contrib/single-node.sh
  go.mod
  go.sum
  proto/payment/query.proto
  proto/qgb/query.proto
  testutil/network/network.go
  testutil/test_app.go
  x/payment/client/cli/query.go
  x/payment/client/cli/tx.go
  x/payment/client/testutil/integration_test.go
  x/payment/genesis.go
  x/payment/keeper/gas_test.go
  x/payment/keeper/keeper.go
  x/payment/module.go
  x/payment/types/builder.go
  x/payment/types/builder_test.go
  x/payment/types/codec.go
  x/payment/types/genesis.go
  x/payment/types/genesis_test.go
  x/payment/types/payfordata_test.go
  x/payment/types/wirepayfordata.go
  x/payment/types/wirepayfordata_test.go
  x/qgb/genesis.go
  x/qgb/keeper/keeper.go
  x/qgb/module.go
  x/qgb/types/codec.go
  x/qgb/types/genesis.go
Labels: dependencies, C: Celestia app, apphash breaking

#418 x/payment: Sanity check `nID` length in `BuildPayForData`
  x/payment/payfordata.go
  x/payment/types/wirepayfordata.go
Labels: C: Celestia app, T:enhancement

#415 Create repository official Dockerfile
  .github/workflows/docker-build.yml
  Dockerfile
  docker/Dockerfile_ephemeral
  docker/entrypoint.sh
Labels: enhancement, github_actions

#425 Change Denomination to tia
  app/app.go
  contrib/single-node.sh
  readme.md
  testutil/test_app.go
Labels: C: Celestia app, apphash breaking

#427 Register the legacy amino codec
  app/encoding/encoding.go
Labels: bug

#426 adds ephemeral cluster docker image build
  .github/workflows/docker-build.yml
Labels: github_actions

#408 Qgb integration test environment
  .github/workflows/docker-build.yml
  Dockerfile
  docker/Dockerfile_ephemeral
  docker/entrypoint.sh
  e2e/qgb/Service.go
  e2e/qgb/celestia-app/config.toml
  e2e/qgb/celestia-app/core0/account-address-core0.txt
  e2e/qgb/celestia-app/core0/config/gentx/gentx-79042c6ca62f2890f5604a22ec8505f14510cb71.json
  e2e/qgb/celestia-app/core0/config/node_key.json
  e2e/qgb/celestia-app/core0/config/priv_validator_key.json
  e2e/qgb/celestia-app/core0/keyring-test/core0.info
  e2e/qgb/celestia-app/core0/keyring-test/f080579c09ecaaee2c4e175599c1d82e2636ef31.address
  e2e/qgb/celestia-app/core1/account-address-core1.txt
  e2e/qgb/celestia-app/core1/config/node_key.json
  e2e/qgb/celestia-app/core1/config/priv_validator_key.json
  e2e/qgb/celestia-app/core1/keyring-test/2bf1b5857a5922bf615fe19414bba6d2d4b2d9af.address
  e2e/qgb/celestia-app/core1/keyring-test/core1.info
  e2e/qgb/celestia-app/core2/account-address-core2.txt
  e2e/qgb/celestia-app/core2/config/node_key.json
  e2e/qgb/celestia-app/core2/config/priv_validator_key.json
  e2e/qgb/celestia-app/core2/keyring-test/9e0c3c9d2bfa6f7bbb716a23c5cac221a0cb4102.address
  e2e/qgb/celestia-app/core2/keyring-test/core2.info
  e2e/qgb/celestia-app/core3/account-address-core3.txt
  e2e/qgb/celestia-app/core3/config/node_key.json
  e2e/qgb/celestia-app/core3/config/priv_validator_key.json
  e2e/qgb/celestia-app/core3/keyring-test/7c8956db8dbe031b29d19f0a8a4e8f1cc1b4b132.address
  e2e/qgb/celestia-app/core3/keyring-test/core3.info
  e2e/qgb/celestia-app/deploy_qgb_contract.sh
  e2e/qgb/celestia-app/genesis.json
  e2e/qgb/celestia-app/start_node_and_create_validator.sh
  e2e/qgb/celestia-app/start_orchestrator_after_validator_created.sh
  e2e/qgb/celestia-app/start_relayer.sh
  e2e/qgb/docker-compose.yml
  e2e/qgb/qgb_network.go
  go.mod
  go.sum
  x/qgb/keeper/query_data_commitment.go
  x/qgb/orchestrator/orchestrator_client.go
Labels: C: QGB, testing

#419 Integration test for max block size
  .github/workflows/test.yml
  .gitignore
  Makefile
  app/app.go
  app/encoding/encoding.go
  app/prepare_proposal.go
  app/split_shares.go
  app/test/block_size_test.go
  app/test/prepare_proposal_test.go
  app/test/process_proposal_test.go
  app/test/split_shares_test.go
  cmd/celestia-appd/root.go
  contrib/test_cover.sh
  go.mod
  go.sum
  testutil/network/network.go
  testutil/test_app.go
  x/payment/client/cli/wirepayfordata.go
  x/payment/client/testutil/integration_test.go
  x/payment/types/builder.go
  x/payment/types/codec.go
  x/payment/types/payfordata.go
  x/payment/types/payfordata_test.go
  x/payment/types/wirepayfordata.go
  x/payment/types/wirepayfordata_test.go
Labels: bug, C: Celestia app, testing, apphash breaking

#441 Sign over all applicable square sizes by default
  app/prepare_proposal.go
  app/split_shares.go
  app/test/block_size_test.go
  x/payment/client/cli/wirepayfordata.go
  x/payment/client/testutil/integration_test.go
  x/payment/payfordata.go
  x/payment/types/square_sizes.go
Labels: C: Celestia app

#446 Bump sdk to v1.1.1-sdk-v0.46.0 to change the default configs
  go.mod
  go.sum
Labels: dependencies, C: Celestia app

#443 Qgb e2e makefile
  e2e/qgb/Makefile
  e2e/qgb/qgb_network.go
Labels: C: QGB

#444 Qgb e2e GitHub action
  .github/workflows/test.yml
Labels: C: QGB

#445 QGB update relayer to work in multiple validators environment
  x/qgb/keeper/query_valset.go
  x/qgb/orchestrator/evm_client.go
  x/qgb/orchestrator/querier.go
  x/qgb/orchestrator/relayer.go
  x/qgb/orchestrator/relayer_client.go
Labels: C: QGB

#449 Adds integration test readme
  e2e/qgb/Makefile
  e2e/qgb/README.md
  e2e/qgb/docker-compose.yml
  e2e/qgb/qgb_network.go
  e2e/qgb/scripts/cleanup.sh
  e2e/qgb/scripts/deploy_qgb_contract.sh
  e2e/qgb/scripts/start_node_and_create_validator.sh
  e2e/qgb/scripts/start_orchestrator_after_validator_created.sh
  e2e/qgb/scripts/start_relayer.sh
Labels: C: QGB

#450 Scripts cosmetics
  e2e/qgb/Makefile
  e2e/qgb/README.md
  e2e/qgb/scripts/cleanup.sh
  e2e/qgb/scripts/deploy_qgb_contract.sh
  e2e/qgb/scripts/start_node_and_create_validator.sh
  e2e/qgb/scripts/start_orchestrator_after_validator_created.sh
  e2e/qgb/scripts/start_relayer.sh
Labels: C: QGB
