Repository celestiaorg/celestia-app, pull requests merged in 2023-05, with the labels that each got.

#1675 Refactor variable name from len to length
  pkg/shares/share_builder_test.go
  pkg/shares/shares_test.go
Labels: external

#1672 feat!: implement the BSR hardfork
  testutil/testnode/full_node.go
  testutil/testnode/full_node_test.go
  x/qgb/abci.go
  x/qgb/test/versions_integration_test.go
  x/qgb/v1/consts.go
  x/qgb/v1beta1/consts.go
  x/qgb/versions.go
  x/version/chains.go
  x/version/test/integration_test.go
Labels: itn

#1670 chore: cherry-pick qgb changes for BSR update
  go.mod
  go.sum
  testutil/common.go
  x/qgb/abci_test.go
  x/qgb/keeper/keeper_attestation.go
  x/qgb/keeper/keeper_data_commitment.go
  x/qgb/keeper/keeper_data_commitment_test.go
  x/qgb/keeper/keeper_valset.go
  x/qgb/keeper/keeper_valset_test.go
  x/qgb/keeper/query_attestation.go
  x/qgb/types/errors.go
Labels: x/qgb, itn

#1664 chore: upgrade to celestia-core v1.18.0-tm-v0.34.27
  cmd/celestia-appd/cmd/overrides.go
  cmd/celestia-appd/cmd/root.go
  go.mod
  go.sum
  pkg/appconsts/consensus_consts.go
  pkg/square/builder.go
  pkg/square/builder_test.go
  pkg/square/square.go
  test/util/testnode/full_node.go
  testing/e2e/pkg/setup.go
  x/blob/types/blob_tx.go
  x/upgrade/test/integration_test.go
Labels: chore

#1679 Redundant if-check in Validate function.
  x/blob/types/params.go
Labels: external

#1677 docs: clarify namespace specs
  specs/src/specs/data_structures.md
Labels: specs

#1683 chore: enable tx indexing on dev scripts
  scripts/build-run-single-node.sh
  scripts/single-node.sh
Labels: enhancement

#1686 feat: implement the update logic for data commitment creation
  x/qgb/abci_test.go
  x/qgb/keeper/keeper_data_commitment.go
Labels: x/qgb

#1699 fix: cherry-pick common Docker CI to `v0.13.x`
  .github/workflows/docker-build-publish-common.yml
Labels: itn

#1700 fix: Docker publish permissions
  .github/workflows/docker-build-publish-common.yml
Labels: itn

#1702 chore: increase default min fee
  pkg/appconsts/appconsts.go
Labels: defaults

#1694 feat!: add the ability to stop specific existing parameters from being changed via governance
  app/app.go
  app/test/std_sdk_test.go
  x/paramfilter/README.md
  x/paramfilter/gov_handler.go
  x/paramfilter/test/param_filter_test.go
  x/paramfilter/types.go
Labels: x/paramfilter

#1692 chore: upgrade to Go 1.20
  .github/workflows/lint.yml
  .github/workflows/test.yml
  Makefile
  README.md
  go.mod
  pkg/shares/parse_test.go
Labels: chore

#1695 feat!: correctly creating the data commitments when the window is changed
  x/qgb/abci_test.go
  x/qgb/keeper/keeper_data_commitment.go
Labels: x/qgb

#1709 chore: improve error message for blocked params
  x/paramfilter/test/param_filter_test.go
  x/paramfilter/types.go
Labels: chore, external

#1713 chore: extract the minimum data commitment to a constant and update error message
  x/qgb/types/errors.go
  x/qgb/types/genesis.go
Labels: x/qgb, chore

#1736 docs: organize ADR assets
  docs/architecture/adr-006-non-interactive-defaults.md
  docs/architecture/adr-008-square-size-independent-message-commitments.md
  docs/architecture/adr-009-non-interactive-default-rules-for-reduced-padding.md
  docs/architecture/adr-011-optimistic-blob-size-independent-inclusion-proofs-and-pfb-fraud-proofs.md
  docs/architecture/adr-013-non-interactive-default-rules-for-zero-padding.md
  docs/architecture/adr-014-versioned-namespaces.md
  docs/architecture/assets/adr006/after.png
  docs/architecture/assets/adr006/before.png
  docs/architecture/assets/adr006/example-full-block.png
  docs/architecture/assets/adr006/extra-message-that-doesnt-fit.png
  docs/architecture/assets/adr006/fit-extra-msg-byremoving-tx.png
  docs/architecture/assets/adr006/multirow.png
  docs/architecture/assets/adr006/subtree-root.png
  docs/architecture/assets/adr008/complexity.png
  docs/architecture/assets/adr008/interactive-commitment.png
  docs/architecture/assets/adr008/interactive-commitment2.png
  docs/architecture/assets/adr008/multiple-blocks.png
  docs/architecture/assets/adr008/row-size-comparison.png
  docs/architecture/assets/adr008/size-dependent-commitment.png
  docs/architecture/assets/adr008/size-independent-commitment.png
  docs/architecture/assets/adr009/current-ni-rules-proof-size.png
  docs/architecture/assets/adr009/effizicient-proof-size-ADR008.png
  docs/architecture/assets/adr009/new-ni-rules-message-shift.png
  docs/architecture/assets/adr009/padding-savings.png
  docs/architecture/assets/adr009/padding-size-result.png
  docs/architecture/assets/adr009/proof-size-result.png
  docs/architecture/assets/adr009/proof-size-result2.png
  docs/architecture/assets/adr009/proof-size-result3.png
  docs/architecture/assets/adr009/proposed-ni-rules-proof-size.png
  docs/architecture/assets/adr009/rowroots-might-not-be-subtreeroot.png
  docs/architecture/assets/adr009/worst-case-padding.png
  docs/architecture/assets/adr011/blob-merkle-proof.png
  docs/architecture/assets/adr011/optimized-pfb-proofs.png
  docs/architecture/assets/adr011/pfb-proof-size-result.png
  docs/architecture/assets/adr011/pfd-merkle-proof.png
  docs/architecture/assets/adr013/blob-alignment-comparison.png
  docs/architecture/assets/adr013/worst-case-padding-comparison.png
  docs/architecture/assets/adr013/worst-case-padding-in-blob-size-range.png
  docs/architecture/assets/adr014/first-sparse-share.svg
Labels: external

#1723 docs: clarify PFB inclusion proof components
  docs/architecture/adr-011-optimistic-blob-size-independent-inclusion-proofs-and-pfb-fraud-proofs.md
Labels: ADR

#1712 docs: update `GetCurrentDataCommitment` comment
  x/qgb/keeper/keeper_data_commitment.go
Labels: documentation, x/qgb

#1715 chore: delete empty test file
  pkg/shares/split_sparse_shares_test.go
Labels: chore

#1739 docs: add section on SHA256 performance to namespace size ADR
  docs/architecture/adr-015-namespace-id-size.md
Labels: ADR

#1764 Remove shebang from Makefile.
  Makefile
Labels: chore

#1762 chore: update `TestGetDataCommitment` table tests comment
  x/qgb/abci_test.go
Labels: x/qgb, chore

#1767 docs: adr-010 fix link
  docs/architecture/adr-010-remove-wire-msg-pay-for-blob.md
Labels: documentation

#1766 feat!: reduce subtree root threshold to 64
  pkg/appconsts/appconsts.go
  pkg/inclusion/paths_test.go
  pkg/shares/non_interactive_defaults_test.go
Labels: consensus breaking

#1761 chore!: set default consensus params and prep for restricted block size
  app/default_overrides.go
  app/default_overrides_test.go
  app/prepare_proposal.go
  app/process_proposal.go
  app/test/integration_test.go
  app/test/process_proposal_test.go
  app/test/qgb_rpc_test.go
  app/test/std_sdk_test.go
  cmd/celestia-appd/cmd/overrides.go
  cmd/celestia-appd/cmd/root.go
  docs/architecture/adr-015-namespace-id-size.md
  go.mod
  go.sum
  pkg/appconsts/appconsts.go
  pkg/da/data_availability_header.go
  pkg/da/data_availability_header_test.go
  pkg/proof/proof.go
  pkg/proof/proof_test.go
  pkg/proof/querier.go
  pkg/shares/non_interactive_defaults_test.go
  pkg/square/builder_test.go
  pkg/square/square.go
  pkg/square/square_benchmark_test.go
  pkg/square/square_fuzz_test.go
  pkg/square/square_test.go
  test/cmd/txsim/cli_test.go
  test/e2e/pkg/rpc.go
  test/txsim/run_test.go
  test/util/network/network.go
  test/util/test_app.go
  test/util/testnode/full_node.go
  test/util/testnode/full_node_test.go
  test/util/testnode/node_interaction_api.go
Labels: api breaking

#1763 feat!: data commitment ranges catchup
  x/qgb/abci.go
  x/qgb/abci_test.go
  x/qgb/keeper/keeper_data_commitment.go
  x/qgb/keeper/keeper_data_commitment_test.go
Labels: x/qgb

#1578 feat: strict inflation schedule
  .gitignore
  app/app.go
  app/default_overrides.go
  app/test/std_sdk_test.go
  go.mod
  proto/celestia/mint/v1/genesis.proto
  proto/celestia/mint/v1/mint.proto
  proto/celestia/mint/v1/query.proto
  x/mint/README.md
  x/mint/abci.go
  x/mint/abci_test.go
  x/mint/client/cli/query.go
  x/mint/client/testutil/grpc_test.go
  x/mint/client/testutil/suite_test.go
  x/mint/keeper/genesis.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/keeper.go
  x/mint/keeper/querier.go
  x/mint/keeper/querier_test.go
  x/mint/module.go
  x/mint/module_test.go
  x/mint/simulation/decoder.go
  x/mint/simulation/decoder_test.go
  x/mint/types/codec.go
  x/mint/types/constants.go
  x/mint/types/events.go
  x/mint/types/expected_keepers.go
  x/mint/types/genesis.go
  x/mint/types/genesis.pb.go
  x/mint/types/keys.go
  x/mint/types/mint.pb.go
  x/mint/types/minter.go
  x/mint/types/minter_test.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
Labels: x/mint

#1785 docs: clarify proofs in ADR 11
  docs/architecture/adr-011-optimistic-blob-size-independent-inclusion-proofs-and-pfb-fraud-proofs.md
Labels: ADR

#1771 feat!: decrease namespace from 33 to 29 bytes
  go.mod
  go.sum
  pkg/appconsts/appconsts.go
  pkg/da/data_availability_header_test.go
  pkg/namespace/consts.go
  pkg/shares/doc.go
  pkg/shares/share_sequence_test.go
  pkg/shares/share_splitting_test.go
  pkg/shares/split_compact_shares_test.go
  specs/src/specs/consensus.md
  specs/src/specs/data_structures.md
  x/blob/types/payforblob_test.go
Labels: consensus breaking, api breaking

#1772 feat!: add GovMaxSquareAddr
  app/prepare_proposal.go
  app/process_proposal.go
  app/square_size.go
  app/test/check_tx_test.go
  app/test/fuzz_abci_test.go
  app/test/integration_test.go
  app/test/prepare_proposal_test.go
  app/test/process_proposal_test.go
  app/test/qgb_rpc_test.go
  app/test/square_size_test.go
  pkg/appconsts/appconsts.go
  proto/celestia/blob/v1/params.proto
  test/cmd/txsim/cli_test.go
  test/txsim/client.go
  test/txsim/run_test.go
  test/util/test_app.go
  test/util/testnode/full_node.go
  test/util/testnode/full_node_test.go
  test/util/testnode/genesis_options.go
  x/blob/keeper/params.go
  x/blob/types/genesis_test.go
  x/blob/types/params.go
  x/blob/types/params.pb.go
  x/blob/types/params_test.go
  x/mint/abci_test.go
  x/mint/keeper/grpc_query_test.go
  x/mint/keeper/querier_test.go
  x/paramfilter/test/param_filter_test.go
  x/upgrade/test/removal_test.go
Labels: consensus breaking, block validity rule, x/blob, param

#1797 ci: consistent workflow names
  .github/workflows/ci-release.yml
  .github/workflows/docker-build-publish.yml
  .github/workflows/github-pages.yml
  .github/workflows/housekeeping.yml
  .github/workflows/protobuf.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
Labels: CI

#1800 feat: gas optimization in qgb end blocker
  x/qgb/abci.go
Labels: x/qgb

#1802 chore: format proto files
  proto/celestia/mint/v1/genesis.proto
  proto/celestia/mint/v1/mint.proto
  proto/celestia/mint/v1/query.proto
  x/mint/types/query.pb.go
Labels: chore

#1810 chore!: bump core to v1.21.0-tm-v0.34.27
  go.mod
  go.sum
Labels: api breaking

#1770 feat: support parsing out of context compact shares
  pkg/shares/compact_shares_test.go
  pkg/shares/parse_compact_shares.go
  pkg/shares/shares.go
  test/util/testfactory/txs.go
Labels: share encoding

#1801 feat!: end exclusive ranges for data commitments
  proto/celestia/qgb/v1/query.proto
  proto/celestia/qgb/v1/types.proto
  x/qgb/abci_test.go
  x/qgb/client/verify.go
  x/qgb/keeper/keeper_data_commitment.go
  x/qgb/keeper/keeper_data_commitment_test.go
  x/qgb/keeper/query_data_commitment.go
  x/qgb/types/query.pb.go
  x/qgb/types/types.pb.go
Labels: x/qgb, apphash breaking, api breaking

#1812 test: skip tx sim tests in short mode to avoid data races
  test/cmd/txsim/cli_test.go
Labels: testing

#1799 feat!: implement QGB pruning
  test/util/common.go
  x/qgb/abci.go
  x/qgb/abci_test.go
  x/qgb/genesis.go
  x/qgb/keeper/keeper_attestation.go
  x/qgb/keeper/keeper_data_commitment.go
  x/qgb/keeper/keeper_valset.go
  x/qgb/types/attestation.go
  x/qgb/types/data_commitment.go
  x/qgb/types/errors.go
  x/qgb/types/keys.go
  x/qgb/types/query.pb.go
  x/qgb/types/valset.go
Labels: x/qgb, apphash breaking

#1823 chore: documenting the block interval via code in QGB abci test
  x/qgb/abci_test.go
Labels: x/qgb

#1824 chore!: last -> latest prefix in QGB store values
  app/test/qgb_rpc_test.go
  proto/celestia/qgb/v1/query.proto
  x/qgb/abci.go
  x/qgb/abci_test.go
  x/qgb/keeper/hooks.go
  x/qgb/keeper/keeper_data_commitment.go
  x/qgb/keeper/keeper_data_commitment_test.go
  x/qgb/keeper/keeper_valset.go
  x/qgb/keeper/keeper_valset_test.go
  x/qgb/keeper/query_data_commitment.go
  x/qgb/keeper/query_general.go
  x/qgb/keeper/query_valset.go
  x/qgb/types/keys.go
  x/qgb/types/query.pb.go
  x/qgb/types/query.pb.gw.go
Labels: x/qgb, chore, api breaking

#1759 docs: ADR021 Restricted Block Size
  docs/architecture/adr-021-restricted-block-size.md
Labels: ADR

#1825 chore!: remove unnecessary type method from QGB attestations
  x/qgb/abci_test.go
  x/qgb/keeper/keeper_valset.go
  x/qgb/types/attestation.go
  x/qgb/types/data_commitment.go
  x/qgb/types/valset.go
Labels: x/qgb, api breaking

#1827 fix: validSequenceLen for padding shares
  pkg/shares/parse_test.go
  pkg/shares/share_sequence.go
  pkg/shares/share_sequence_test.go
Labels: bug

#1828 docs: pruning comment typos
  x/qgb/abci_test.go
Labels: x/qgb

#1829 docs: QGB go docs reformat
  x/qgb/abci.go
  x/qgb/abci_test.go
  x/qgb/genesis.go
  x/qgb/handler.go
  x/qgb/keeper/hooks.go
  x/qgb/keeper/keeper.go
  x/qgb/keeper/keeper_attestation.go
  x/qgb/keeper/keeper_data_commitment.go
  x/qgb/keeper/keeper_valset.go
  x/qgb/module.go
  x/qgb/types/attestation.go
  x/qgb/types/genesis.go
  x/qgb/types/keys.go
  x/qgb/types/validator.go
  x/qgb/types/valset.go
Labels: documentation, x/qgb

#1817 test: add tests for `validSequenceLen`
  pkg/shares/share_sequence_test.go
Labels: testing

#1842 chore: bump core to v1.21.1-tm-v0.34.27
  go.mod
  go.sum
Labels: dependencies

#1841 docs: update the nonces docs in QGB store
  x/qgb/keeper/keeper_attestation.go
Labels: x/qgb

#1850 chore!: rename to ValidateBlobNamespace
  x/blob/types/payforblob.go
Labels: api breaking

#1862 chore!: remove residual QGB attestation type
  x/qgb/types/attestation.go
Labels: x/qgb, api breaking

#1833 chore: adds _flaky suffix to flaky tests
  app/test/square_size_test.go
  pkg/square/square_test.go
  test/util/testnode/full_node_test.go
  x/blob/client/testutil/integration_test.go
Labels: documentation

#1865 chore: ban naked returns
  .golangci.yml
  x/blob/keeper/params.go
  x/blob/types/builder.go
  x/mint/keeper/keeper.go
  x/qgb/client/verify.go
  x/qgb/keeper/keeper.go
  x/qgb/types/validator.go
Labels: chore

#1864 chore: move shares doc.go to README.md
  README.md
  pkg/shares/README.md
  pkg/shares/doc.go
Labels: documentation, specs

#1856 docs: template for spec and initial files
  specs/src/README.md
  specs/src/SUMMARY.md
  specs/src/specs/block_validity_rules.md
  specs/src/specs/state_machine_modules.md
  specs/template.md
Labels: documentation, specs

#1791 test: integration test `x/mint`
  test/util/testnode/node_interaction_api.go
  x/mint/README.md
  x/mint/abci_test.go
  x/mint/test/mint_test.go
  x/mint/types/constants.go
  x/mint/types/minter.go
  x/mint/types/minter_test.go
Labels: testing
